<div id="emailSection" class="email-section">
  <div class="email-text-container">
  	<a href="mailto:max@seemaxwork.com?subject=I clicked your email link">
  		<div class="email-headline-container">
		      I'm for hire. Let's make something awesome together.
  		</div>
    	<svg viewBox="0 0 600 35">        
        <text x="0" y="33" textLength="600">
          max@seemaxwork.com
        </text>
    	</svg>
    </a>
  </div>
</div>
