<nav>
  <div id="projects" class="nav-item" >
    <a class="nav-link transition" href="/projects">
      PROJECTS
    </a>
  </div>
  <div id="logos" class="nav-item" >
    <a class="nav-link transition" href="/logos">
      LOGOS
    </a>
  </div>
  <div class="nav-item" >
    <div class="nav-link" id="contactLink">
      HIRE ME
      <div class="contact-close" id="contact-close">&#10006;&#xFE0E;</div>
    </a>
  </div>
</nav>





