<nav>
  <div class="nav_item" data-turbolinks="false">
    <div class="dot red"></div>
    <a class="transition" href="/work">
      WORK
    </a>
  </div>
  <div class="nav_item" data-turbolinks="false">
    <div class="dot yellow"></div>
    <a class="transition" href="/logos">
      LOGOS
    </a>
  </div>
  <div class="nav_item" data-turbolinks="false">
    <div class="dot green"></div>
    <a class="transition" href="/fun">
      FUN
    </a>
  </div>
  <div class="nav_item" data-turbolinks="false">
    <div class="dot black"></div>
    <a class="transition" href="/email">
      EMAIL
    </a>
  </div>
</nav>