<div class="client_box oddball" id="oddball">
  <div class="close"><img src=<%= asset_path 'close-x.svg' %> ></div>
  <div class="title">
      OddBall
  </div>
  <div class="client_content">
    <div class="credits"> ANIMATION<span class="text_symbol"> | </span>Website DESIGN<span class="text_symbol"> | </span>BRANDING</div>
    <div class="on-screen">
      <div class="laptop-screen">
        <svg viewBox="0 0 1280 783">
          <defs>
            <clipPath id="imageClip">
                <rect transform="scale(1,-1) translate(0,0)" x="175.5" y="-635" width="937.5" height="587" />
            </clipPath>
          </defs>
          <path class="screen-frame" d="M 1106,655  H 181  c -18,0 -32,14 -32,32  V 666  h 990  V 687  C 1139,669, 1124,655, 1106,655 z"/>
          <rect class="screen-inside screen-white" transform="scale(1,-1) translate(0,0)" x="175" y="-635" width="938" height="0"/>
          <path class="body-top" d="M 1254,683  c 0,0 -1,0 -4,0  H 33 c -2,0 -4,0 -4,1  v -10  c 0,0 -4,0 4,0  h 1217  c 2,0 4,2 4,4 V 683  z"/>
          <path class="body-bottom" d="M 1251,687  c 0,0 -30,0 -69,0  H 101  c -39,0 -69,0 -69,0  H 1251  z"/>
          <path class="body-latch" d="M 729,667  l -2,-1  c -1,0 -5,0 -8,0  H 571  c -2,-1 -6,0 -8,0  l -2,-1  H 729  z"/>


           <svg x="145" y="-100" width="1000" height="850" class="internal-oddball" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">

            <g class="headline-group hidden">
              
              <text class="text-headline" id="textAreaTwo" x="200" y="485">
                Our Digital Vision 
              </text>

              <text class="text-headline" id="textAreaThree" x="200" y="485">
                Navigates The Way
              </text>

              <text class="text-headline" id="textAreaFour" x="200" y="485">
                Nerding Out
              </text>

              <text class="text-headline" id="textAreaFive" x="200" y="485">
                And Narrowing In
              </text>

              <text class="text-headline" id="textAreaSix" x="200" y="485">
                To Find The Answers
              </text>
            </g>

            <g class="hidden" id="logo-group">
              <ellipse class="stroked convert" id="circleOneA" cx="94.8" cy="462.7" rx="82.4" ry="85"/>
              <ellipse class="stroked convert" id="circleOneB" cx="94.8" cy="462.7" rx="72.4" ry="75"/>
              <!-- EXTRA CIRCLES FOR ANIMATING --> 
              <path class="outlined" id="logoLineA" d="M89.8,387.2c-22.7,16.7-37.8,43.2-38.8,73.5c-1,30.7,12.6,58.5,34.5,76.7"/>
              <path class="outlined" id="logoLineB" d="M108.1,536.4c-20.6-18.2-33.2-45.1-32.2-74.7c1-29.4,15.3-55.3,36.9-72"/>
            </g>

            
            <text class="hidden subhead" id="subHead" x="135" y="605" width="1000" height="100" textLength="724">
                A strangely human digital agency
            </text>

        
            
            <g class="hidden" id="eyeball-group">
              <ellipse class="stroked convert" id="circleTwoA" cx="94.8" cy="462.7" rx="72.4" ry="75" />
              <ellipse class="stroked convert" id="circleTwoB" cx="94.8" cy="462.7" rx="72.4" ry="75" />
              <ellipse class="stroked convert" id="circleTwoC" cx="94.8" cy="462.7" rx="72.4" ry="75" />
              <ellipse class="filled convert" id="iris" cx="95.2" cy="462.7" rx="17.2" ry="17.8"/>
              <ellipse class="stroked convert" id="main-lid" cx="94.8" cy="462.7" rx="72.4" ry="75"/>
              <path id="lid-one" d="M167.7,463.2c0,15.5-32.4-23.9-72.4-23.9s-72.4,40.3-72.4,23.9c0-41.4,32.4-75,72.4-75 S167.7,421.8,167.7,463.2z"/>
              <path id="lid-two" d="M167.7,463.2c0,15.5-32.4-4.8-72.4-4.8s-72.4,21.3-72.4,4.8c0-41.4,32.4-75,72.4-75 S167.7,421.8,167.7,463.2z"/>
              <path class="stroked" id="lid-three" d="M168,463.2c0,0-32.4,0-72.4,0s-72.4,0-72.4,0c0-41.4,32.4-75,72.4-75S168,421.8,168,463.2z"/>
              <path id="lid-four" d="M167.7,463.2c0,15.5-32.4,30.5-72.4,30.5s-72.4-14-72.4-30.5c0-41.4,32.4-75,72.4-75 S167.7,421.8,167.7,463.2z"/>
            </g>


            <g class="hidden" id="compass-group">
              <ellipse class="stroked convert" id="circleThreeC" cx="94.8" cy="462.7" rx="72.4" ry="75" />
              <ellipse class="stroked convert" id="circleThreeD" cx="94.8" cy="462.7" rx="72.4" ry="75" />
              <path class="stroked" id="compass-ticks" d="M153.8,464H169 M67.3,532.8l5.7-14.1 M42.6,516.3l10.8-10.8 M40.9,487.1l-14,6 M94.9,538.2V523 M163.7,491.6 l-14.1-5.7 M147.3,516.5l-10.8-10.8 M124.1,532.2l-6-14 M26.4,436.7l14.1,5.7 M94.9,390.3v15.2 M122.3,395.5l-5.7,14.1 M36.3,464 H21.1 M147.1,411.8l-10.8,10.8 M65.8,396.3l6,14 M162.9,434.9l-14,6 M42.7,411.9l10.8,10.8"/>
              <ellipse class="stroked convert" id="circleThreeA" cx="94.8" cy="462.7" rx="72.4" ry="75" />
              <ellipse class="stroked convert" id="circleThreeB" cx="94.8" cy="462.7" rx="72.4" ry="75" />
              <path class="stroked" id="compass-dial" <path class="stroked" d="M95.7,500l-18-36.3l18-36.3l18,36.3L95.7,500z"/>
            </g>


            <g class="hidden" id="circuit-group">
              <ellipse class="outlined convert" id="circleFourA" cx="95.3" cy="463.2" rx="72.4" ry="75" />
              <ellipse class="outlined convert" id="circleFourB" cx="95.3" cy="463.2" rx="72.4" ry="75" />
              <g>
                <circle class="outlined circuit-ends final-circle" cx="95.6" cy="464.3" r="38.2"/>
              </g>
              <g>
                <circle class="outlined circuit-ends final-circle" cx="47.8" cy="332.4" r="9.7"/>
                <polyline class="outlined circuit-line final-line" points="56.5,339.2 95.6,364 95.6,389.4   "/>
              </g>
              <g>
                <circle class="outlined circuit-ends final-circle" cx="143.2" cy="596.2" r="9.7"/>
                <polyline class="outlined circuit-line final-line" points="134.5,589.4 95.4,564.6 95.4,539.3  "/>
              </g>
              <g>
                <circle class="outlined circuit-ends final-circle" cx="148.8" cy="334" r="9.7"/>
                <polyline class="outlined circuit-line final-line" points="139.1,334 109.1,334 109.1,389.4  "/>
              </g>
              <g>
                <circle class="outlined circuit-ends" cx="24.9" cy="380.7" r="9.7"/>
                <polyline class="outlined circuit-line" points="22.9,388.2 7.5,446.1 22.5,446.1   "/>
              </g>
              <g>
                <circle class="outlined circuit-ends" cx="185" cy="521" r="9.7"/>
                <polyline class="outlined circuit-line" points="185, 513.3, 185, 470.3, 170.5, 470.3"/>
              </g>
              <g>
                <circle class="outlined circuit-ends final-circle" cx="40.6" cy="583.9" r="9.7"/>
                <line class="outlined circuit-line final-line" x1="45.6" y1="576.2" x2="65.5" y2="533.2"/>
              </g>
              <g>
                <circle class="outlined circuit-ends final-circle" cx="92.8" cy="459.4" r="9.7"/>
                <polyline class="outlined circuit-line final-line" id="inside-line" points="101.5,466.2 112.6,474 112.6,499.4   "/>
              </g>
            </g>


            <g class="hidden" id="target-group">
              <ellipse class="outlined convert" id="circleFiveA" cx="95.3" cy="463.2" rx="72.4" ry="75" />
              <ellipse class="outlined convert" id="circleFiveB" cx="95.3" cy="463.2" rx="72.4" ry="75" />
              <ellipse class="outlined convert" id="circleFiveC" cx="95.3" cy="463.2" rx="72.4" ry="75" />
              <ellipse class="outlined convert" id="circleFiveD" cx="95.3" cy="463.2" rx="72.4" ry="75" />
              <ellipse class="outlined convert" id="circleFiveE" cx="95.3" cy="463.2" rx="72.4" ry="75" />
              <ellipse class="outlined" id="ring-two" cx="95.3" cy="463.2" rx="52.4" ry="55" />
              <ellipse class="outlined" id="ring-three" cx="95.3" cy="463.2" rx="32.4" ry="35" />
              <ellipse class="outlined" id="ring-four" cx="95.3" cy="463.2" rx="14.4" ry="17" />
              <ellipse class="outlined" id="ring-five" cx="95.3" cy="463.2" rx="3.5" ry="3.7" />
            </g>

            <g class="hidden" id="venn-group">
              <ellipse class="outlined convert" id="circleSixA" cx="95.3" cy="463.2" rx="72.4" ry="75" />
              <ellipse class="outlined convert" id="circleSixB" cx="95.3" cy="463.2" rx="72.4" ry="75" />
              <ellipse class="outlined convert" id="circleSixC" cx="95.3" cy="463.2" rx="72.4" ry="75" />
              <ellipse class="outlined convert" id="circleSixD" cx="95.3" cy="463.2" rx="72.4" ry="75" />
              <ellipse class="outlined convert" id="vennOne" cx="94.3" cy="440.8" rx="46.9" ry="48.6" />
              <ellipse class="outlined convert" id="vennTwo" cx="75.2" cy="474.1" rx="46.9" ry="48.6" />
              <ellipse class="outlined convert" id="vennThree" cx="115.4" cy="474.1" rx="46.9" ry="48.6" />
            </g>

            <g class="letters-group hidden">
              <g class="letter">
                <ellipse class="stroked" id="letterOne" cx="200" cy="485.1" rx="48.5" ry="50.3"/>
              </g>
              <g class="letter">
                <ellipse class="stroked" id="letterTwoA" cx="189.9" cy="485.1" rx="48.5" ry="50.3"/>
                <line id="letterTwoB" x1="238.4" y1="377.6" x2="238.4" y2="537.8"/>
              </g>
              <g class="letter">
                <ellipse id="letterThreeA" cx="156.9" cy="485.1" rx="48.5" ry="50.3"/>
                <line id="letterThreeB" x1="205.4" y1="377.6" x2="205.4" y2="537.8"/>
              </g>
              <g class="letter">
                <ellipse class="stroked" id="letterFourA" cx="131.9" cy="485.1" rx="48.5" ry="50.3"/>
                <line class="stroked" id="letterFourB" x1="83.4" y1="377.6" x2="83.4" y2="537.8"/>
              </g>
              <g class="letter">
                <ellipse id="letterFiveA" cx="91.9" cy="485.1" rx="48.5" ry="50.3"/>
                <line id="letterFiveB" x1="140.4" y1="432.3" x2="140.4" y2="537.8"/>
              </g>
              <g class="letter">
                <line id="letterSixA" x1="18.8" y1="377.6" x2="18.8" y2="537.8"/>
                <line id="letterSixB" x1="62.7" y1="377.6" x2="62.7" y2="537.8"/>
              </g>
            </g>
          </svg>
    
    
        </svg>
      </div>
    </div>
    <div class="text">
      <h2>Oddball is a talented web development company based in L.A.</h2>
      <p>
        I teamed up with Oddball to redesign thier brand and website. I created an eye-catching, lead animation that would immediately grab visitors attention. In tandem with the animation, I redesigned the website to more closely reflect the modern, tech forward operation Oddball runs. 
        <!-- Visit the project at <a href="https://www.oddball.com" target="_blank">www.oddball.com</a> -->
      </p>
    </div>
    <div class="gallery">
      <div class="gallery_tile">
        <div class="gallery-close">
          close x
        </div>
        <img class="lazy" data-src=<%= asset_path 'oddball-screen-2.png' %> >
      </div>
      <div class="gallery_tile middle">
        <div class="gallery-close">
          close x
        </div>
        <img class="lazy" data-src=<%= asset_path 'oddball-screen-1.png'  %> >
      </div>
      <div class="gallery_tile">
        <div class="gallery-close">
          close x
        </div>
        <img class="lazy" data-src=<%= asset_path 'oddball-screen-3.png'  %> >
      </div>
    </div>
  </div>
</div>