<div class="client_box" id="uscc">
  <div class="close"><img src=<%= asset_path 'close-x.svg' %> ></div>
  <div class="title">
      US Cellular Animation
  </div>
  <div class="client_content">
    <div class="credits"> Animation<span class="text_symbol"> | </span>DEVELOPMENT</div>
    <div class="on-screen">
      <div class="laptop-screen">
        <svg viewBox="0 0 1280 783">
          <defs>
            <clipPath id="imageClip">
                <rect transform="scale(1,-1) translate(0,0)" x="175.5" y="-635" width="937.5" height="587" />
            </clipPath>
          </defs>
          <path class="screen-frame" d="M 1106,655  H 181  c -18,0 -32,14 -32,32  V 666  h 990  V 687  C 1139,669, 1124,655, 1106,655 z"/>
          <rect class="screen-inside" transform="scale(1,-1) translate(0,0)" x="175" y="-635" width="938" height="0"/>
          <path class="body-top" d="M 1254,683  c 0,0 -1,0 -4,0  H 33 c -2,0 -4,0 -4,1  v -10  c 0,0 -4,0 4,0  h 1217  c 2,0 4,2 4,4 V 683  z"/>
          <path class="body-bottom" d="M 1251,687  c 0,0 -30,0 -69,0  H 101  c -39,0 -69,0 -69,0  H 1251  z"/>
          <path class="body-latch" d="M 729,667  l -2,-1  c -1,0 -5,0 -8,0  H 571  c -2,-1 -6,0 -8,0  l -2,-1  H 729  z"/>
          <image class="screen-image" clip-path="url(#imageClip)" width="950" height="602" x="169" y="44.5" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="" data-link="<%= asset_path 'uscc-animation.gif'  %>" />
        </svg>
      </div>
    </div>
    <div class="text">
      <h2>These HTML 5 animations spice up the facts.</h2>
      <p>
        I worked with US Cellualr's Ad Agnecy to create an animated sell sheet to enhance the facts and keep readers interested where they might otherwise lose focus. See the project live at <a href="http://www.fq540.seemaxstaging.com" target="_blank">www.seemaxstaging.com</a>
      </p>
    </div>
  </div>
</div>