<div class="pages design-page">
  <div class="content">
    <div class="scrollback"></div>
    <div class="client_box">
      <div class="toggle">X</div>
      <div class="title">
          ZEARN
      </div>
      <div class="client_content">
        <p>
          Zearn is an educational technology company in new york. I worked with Zearn t odevelop and identity as well as the design of the student experience on the site
        </p>
      </div>
    </div>
    <div class="client_box">
      <div class="toggle">X</div>
      <div class="title">
          POW!
      </div>
      <div class="client_content">
        <p>
          Zearn is an educational technology company in new york. I worked with Zearn t odevelop and identity as well as the design of the student experience on the site
        </p>
      </div>
    </div>
    <div class="client_box">
      <div class="toggle">X</div>
      <div class="title">
          WINE GODDESS
      </div>
      <div class="client_content">
        <p>
          Zearn is an educational technology company in new york. I worked with Zearn t odevelop and identity as well as the design of the student experience on the site
        </p>
      </div>
    </div>

  </div>
  <a class ="home-link" href="/"><img src=<%= asset_path 'seemaxlogo_2.png'  %> ></a>
</div>