<div class="pages design-page">
  <div class="content">
    <div class="scrollback"></div>
    <div class="client_full">
      <div class="client_content">
        ZEARN
      </div>
    </div>
    <div class="client_full">
      <div class="client_content">
        POW!
      </div>
    </div>
    <div class="client_full">
      <div class="client_content">
        WINE GODDESS
      </div>
    </div>
  </div>
  <a class ="home-link" href="/"><img src=<%= asset_path 'seemaxlogo_2.png'  %> ></a>
</div>