<div class="pages email-page" >
  <div class="content">


    <div class="email-text-container">
      <svg viewBox="0 0 600 35">
          <a href="mailto:max@seemaxwork.com?subject=I clicked your email link">
            <text x="0" y="33" textLength="600">
              max@seemaxwork.com
            </text>
          </a>
      </svg>
    </div>


    <div class="email-link">

    </div>
    <div class="email-message">
      let's talk this out
    </div>
  </div>
  <a class ="home-link" href="/"><img src=<%= asset_path 'home_pencil.png'  %> ></a>
</div>