<div class="pages email-page" >
  <div class="content">
    <div class="email-link">
      <a href="mailto:max@seemaxwork.com?subject=I clicked your email link">max<span class="atsymbol">@</span>seemaxwork.com</a>
    </div>
    <div class="email-message">
      let's talk this out
    </div>
  </div>
  <a class ="home-link" href="/"><img src=<%= asset_path 'home_pencil.png'  %> ></a>
</div>