<div class="pages fun-page" >
  <div class="content">
    <div class="scrollback"></div>
    <div class="client_full">
      <div class="client_content">
        ZEARN
      </div>
      <a class="fancybox fancybox.iframe" rel="logos" href="http://www.youtube.com/embed/cYplvwBvGA4?autoplay=1&wmode=opaque" ><img src=<%= asset_path 'skyline.jpg'  %> ></a>
    </div>
    <div class="client_full">
      <div class="client_content">
        POW!
      </div>
    </div>
    <div class="client_full">
      <div class="client_content">
        WINE GODDESS
      </div>
    </div>
  </div>
  <a class ="home-link" href="/"><img src=<%= asset_path 'home_pencil.png'  %> ></a>
</div>