<div class="pages gear-page" >
  <div class="content">
    <div class="scrollback"></div>

    <div class="store-box">
      <div class="title">
        <div class="lungs_title"></div>
        <div class="credits">
          Screen Printed T-Shirt
        </div>
      </div>
      <div class="gallery">
        <div class="gallery_tile_2L">
            <div class="gallery_image lungs_1">

            </div>
        </div>
        <div style="clear: both;"></div>
      </div>
      <div class="text">
        <h1>Live and Breathe and Represent.</h1>
        <p class="store_description">

        </p>
      </div>
      <a href="store.seemaxwork.com/product/illi-lungs" target="_blank"><div class="store_btn">BUY ONE  ></div></a>
    </div>

  </div>
  <a class ="home-link" href="/"><img src=<%= asset_path 'home_pencil.png'  %> ></a>
</div>