<div class="main">
  <div class="logo">
    SEEMAXWORK
  </div>
  <img class="smalllogo" src=<%= asset_path 'seemaxlogo_2.png'  %> >
  <div class="video-overlay"></div>
  <video autoplay="true" loop="true" poster="https://s3.amazonaws.com/seemaxwork/video/seemax_video_poster.jpg" class="homevideo">
    <source src="https://s3.amazonaws.com/seemaxwork/video/SeeMaxFront_Final.webm" type="video/webm" />
    <source src="https://s3.amazonaws.com/seemaxwork/video/SeeMaxFront_Final.mp4" type="video/mp4" />
  </video>
<div class="mobile--background">
    <img src="https://s3.amazonaws.com/seemaxwork/video/seemax_video_poster.jpg" />
</div>