<div class="pages playground-page">
  <div class="content">
    <div id="game_logo"></div>
  </div>
</div>
<script type="text/javascript">
  var s = Snap("#game_logo");
  var logo = "assets/game.svg";

  Snap.load(logo, function (f) {
    s.append(f);

    move1 = function(){
      f.select("#g1").animate({"points":[212.8, 52.8, 49.5, 52.8, 49.5, 5.8, 176.3, 5.8]},400,mina.linear, move2);
    };

    move2 = function(){
      f.select("#g2").animate({"points":[49.5, 5.8, 49.5, 247.3, 2.5, 247.3, 2.5, 52.3]},400,mina.linear, move3);
    };

    move3 = function(){
      f.select("#g3").animate({"points":[230.9, 247.3, 2.5, 247.3, 49.9, 294.3, 194.4, 294.3]},400,mina.linear, move4);
    };

    move4 = function(){
      f.select("#g4").animate({"points":[230.9, 247.3, 137.3, 166.4, 85, 183.1, 188.3, 264.2]},400,mina.linear, move5);
    };

    move5 = function(){
      f.select("#g5").animate({"points":[294.2, 136.1, 85, 136.1, 85, 183.1, 247.6, 183.1]},400,mina.linear);
    };

    setTimeout(move1, 1000);
  });
</script>
