@-moz-keyframes slidein {
  to {
    width:30%;
    transform: translateX(10px) rotateZ(360deg);
  }
}

@-webkit-keyframes slidein {
  to {
    width:30%;
    transform: translateX(10px) rotateZ(360deg);
  }
}