.nav {
  font-size:26px;
  font-style:normal;
  line-height:22px;
  padding:0px 30px;

  hr {
    border:none;
    height:1px;
    background:white;
    margin-top:14px;
  }

 ul {
    display: table;
    width: 100%;
    list-style: none;
    padding:0px;
    margin:0px auto;
  }

 ul li {
    display: table-cell;
    text-align: center;
  }



ul li a {
    display: block;
    text-decoration:none;
  }
}