<!DOCTYPE html>
<html>
<head>
  <title>Seemax4</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="nav">
  <hr>
    <ul>
      <li><a href="/web">WEB</a></li>
      <li><a href="/design">DESIGN</a></li>
      <li><a href="/logos">LOGOS</a></li>
      <li><a href="/fun">FUN</a></li>
      <li><a href="/store">STORE</a></li>
      <li><a href="/contact">EMAIL</a></li>
    </ul>
  <hr>
  </div>


<%= yield %>

</body>
</html>
